@inherits LanguagePackManagerWebPage
@using Connect.LanguagePackManager.Core.Repositories;
@using Connect.LanguagePackManager.Presentation.Common;
@using System.Linq;
@{
  var links = PackageLinkRepository.Instance.GetPackageLinks(Dnn.ModuleContext.ModuleId).OrderBy(l => l.Name);
}

<h1>@Dnn.LocalizeString("Links.Title")</h1>

<table class="table">
  <thead>
    <tr>
      <th>@Dnn.LocalizeString("Name")</th>
      <th>@Dnn.LocalizeString("OrgName")</th>
      <th>@Dnn.LocalizeString("RepoName")</th>
      <th>@Dnn.LocalizeString("AssetRegex")</th>
      <th>@Dnn.LocalizeString("LastChecked")</th>
      <th>@Dnn.LocalizeString("LastVersion")</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var link in links)
    {
      <tr>
        <td>@link.Name</td>
        <td>@link.OrgName</td>
        <td>@link.RepoName</td>
        <td>@link.AssetRegex</td>
        <td>@link.LastChecked</td>
        <td>@link.LastDownloadedVersion</td>
        <td><a href="@Url.Action("Edit", "Links", new { LinkId = link.PackageLinkId })">@Dnn.LocalizeString("Edit")</a></td>
      </tr>
    }
  </tbody>
</table>

<div>
  <a href="@Url.Action("Edit", "Links", new { LinkId = -1 })" class="dnnPrimaryAction">@Dnn.LocalizeString("Add")</a>
  <a href="@Url.Action("Index", "Home")" class="dnnSecondaryAction">@Dnn.LocalizeString("Back")</a>
</div>

