@inherits LanguagePackManagerWebPage
@using Connect.LanguagePackManager.Presentation.Common
@{
  LanguagePackManagerModuleContext.AddModuleScript();
}

<h1>Hello LanguagePackManager Module</h1>

<div class="DNN ConnectLanguagePackManager LanguagePackManager"
     data-locale="@System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName"
     data-moduleid="@Dnn.ActiveModule.ModuleID"
     data-tabid="@Dnn.ActiveModule.TabID"
     data-portalid="@Dnn.PortalSettings.PortalId"
     data-resources="@SerializedResources()"
     data-security="@(Newtonsoft.Json.JsonConvert.SerializeObject(LanguagePackManagerModuleContext.Security))"
     >
</div>
