@inherits LanguagePackManagerWebPage
@using Connect.LanguagePackManager.Core.Common;
@using Connect.LanguagePackManager.Core.Repositories;
@using Connect.LanguagePackManager.Presentation.Common;
@using System.Linq;
@{
  LanguagePackManagerModuleContext.AddModuleScript();
  var knownGenericLocales = LocaleRepository.Instance.GetLocales().Where(l => l.Code.Length == 2).Select(l => l.Code).ToList();
  var locales = System.Globalization.CultureInfo.GetCultures(System.Globalization.CultureTypes.SpecificCultures)
      .Where(l => knownGenericLocales.Contains(l.TwoLetterISOLanguageName))
      .Select(l => new { Key = l.Name, Value = l.ParseRegion() });
  var genlocales = System.Globalization.CultureInfo.GetCultures(System.Globalization.CultureTypes.NeutralCultures)
    .Where(l => knownGenericLocales.Contains(l.TwoLetterISOLanguageName))
    .Select(l => new { Key = l.Name, Value = l.EnglishName });
  var packageList = PackageVersionRepository.Instance.GetPackageVersions(Dnn.ModuleContext.ModuleId)
      .Where(p => p.ContainedInPackageVersionId == null)
      .Select(p => new { Key = p.PackageId, Value = p.FriendlyName })
      .Distinct()
      .OrderBy(p => p.Value);
}

<h1>@Dnn.LocalizeString("LanguagePacks")</h1>

<div class="connectlpm packs"
     data-locale="@System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName"
     data-moduleid="@Dnn.ActiveModule.ModuleID"
     data-tabid="@Dnn.ActiveModule.TabID"
     data-portalid="@Dnn.PortalSettings.PortalId"
     data-resources="@SerializedResources()"
     data-security="@(Newtonsoft.Json.JsonConvert.SerializeObject(LanguagePackManagerModuleContext.Security))"
     data-genlocales="@(Newtonsoft.Json.JsonConvert.SerializeObject(genlocales))"
     data-locales="@(Newtonsoft.Json.JsonConvert.SerializeObject(locales))"
     data-packages="@(Newtonsoft.Json.JsonConvert.SerializeObject(packageList))">
</div>

<div>
  @if (LanguagePackManagerModuleContext.Security.CanEdit)
  {
    <a href="@Url.Action("Index", "Links")" class="dnnSecondaryAction">@Dnn.LocalizeString("Links")</a>
  }
  @if (LanguagePackManagerModuleContext.Security.IsTranslator)
  {
    <a href="@Url.Action("Upload", "Packs")" class="dnnSecondaryAction">@Dnn.LocalizeString("Upload")</a>
  }
</div>
